body {
    background-color: #F9E6B5;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: 'Iceland',sans-serif;
}

header {
    height: 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5vmin;
}

h1 {
    font-size: 10vmin;
}

#homeAdminBtns {
    display: flex;
    width: 25vmin;
    justify-content: space-around;
}

/*///////////////////////// Information Page specific code /////////////////////////*/

#majorBrainRegionTitle, #lobeTitle {
    font-size: 6vmin;
}

#structureTitle {
    font-size: 4vmin;
}

#navAndInfo {
    margin: 1vmin;
    display: flex;
    justify-content: center;
    width: 100vw;
}

#navagationBrainBox {
    height: 60vmin;
    width: 70vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid black;
}

#navHoverText {
    height: 10vmin;
    margin: 2vmin;
    font-size: 3vmin;
}

#navagationBrain {
    position: relative;
    height: 60vmin;
    width: 60vmin;
    min-height: 500px;
    min-width: 500px;
}

#navagationBrain>img:hover {
    filter: brightness(80%);
}
#navagationBrain>a:hover {
    filter: brightness(80%);
}

#navagationBrain > img,#navagationBrain > a {
    position: absolute;
    transform: translate(-50%,-50%);
}

#informationBoxWrapper {
    height: 60vmin;
    width: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#informationBox {
    height: 58vmin;
    width: 65vmin;
    overflow-y: scroll;
    font-weight: bold;
}

#informationBox > img {
    height: 50vmin;
    width: 50vmin;
}

#informationBox > span, #informationBox > a {
    font-weight: 400;
} 

#articleTitleText {
    font-size: 3vmin;
}

#relatedArticlesBox {
    width: 61vw;
    height: 20vh;
    margin-top: 1vmin;
    display: grid;
    border-left: 1px solid black;
    border-right: 1px solid black;
    grid-template-columns: repeat(2, 30vw );
    justify-items: center;
    gap: 1vw;
    overflow-y: scroll;
}

#relatedArticlesBox > div {
    width: 28vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-top: .5vmin solid lightgray;
    border-bottom: .5vmin solid lightgray;
}

.articleBox {
    font-size: 1.5vmin;
    text-align: center;
    overflow-y: hidden;
}

#relatedArticlesBox> div:hover {
    filter: brightness(80%);
}

#initialSubmitArticleButton {
    display: flex;
    gap: 2vmin;
    align-items: center;
}

/* ///////////////////////// Submit Article Popup Specific Code /////////////////////////*/
#submitArticleBox {
    height: 60vmin;
    width: 80vmin;
    background-color: rgb(208, 205, 243);
    border: 2vmin solid rgb(208, 205, 243);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    animation-name: submitArticlePopUp;
    animation-duration: 0.5s;
}

#submitArticleTitle {
    font-size: 4vmin;
}

#submitArticleBox > label {
    align-self: flex-start;
}
#submitArticleBox > input {
    width: 60vmin;
}   

#submitArticleBox > button {
    width: 20vmin;
}

#abstractInput {
    width: 60vmin;
}

#thankYou {
    align-self: center;
}

@keyframes submitArticlePopUp {
    0% {transform: translate(-50%,30%)}
    60% {transform: translate(-50%,-60%)}
    100% {transform: translate(-50%,-50%)}
}

/*///////////////////////// STRUCTURE SPECIFIC CODE... THIS IS GOING TO BE GROSS /////////////////////////*/

/* forebrain */
#forebrainMainNav {
    top: 50%;
    left: 50%;
}
#frontalLobeLink {
    top: 44%;
    left: 21%;
}
#parietalLobeLink {
    top: 33%;
    left: 67%;
}
#temporalLobeLink {
    top: 67%;
    left: 53%;
}
#occipitalLobeLink {
    top: 45%;
    left: 91%;
}
#hypothalamusNav {
    top: 62.8%;
    left: 35.3%;
}
#pituitaryGlandNav {
    top: 68%;
    left: 31%;
}
#corpusCollosumNav {
    top: 47%;
    left: 49%;
}
#basalGangliaNav {
    top: 55%;
    left: 49%;
}
#amygdalaNav {
    top: 62.5%;
    left: 48%;
}
#thalamusNav {
    top: 53%;
    left: 49.7%;
}
#hippocampusNav {
    top: 54%;
    left: 50%;
}

/* midbrain */

#midbrainMainNav {
    top: 50%;
    left: 50%;
}

#colliculiNav {
    top: 37%;
    left: 55%;
}
#tectumNav {
    top: 48%;
    left: 54%;
}
#tegmentumNav {
    top: 50%;
    left: 35%;
}

/* hindbrain */

#hindbrainMainNav {
    top: 50%;
    left: 50%;
}

#ponsNav {
    top: 32%;
    left: 40%;
}
#cerebellumNav {
    top: 25%;
    left: 70%;
}
#medullaOblongataNav {
    top: 50%;
    left: 48%;
}

/* frontal lobe */

#frontalNav {
    top: 50%;
    left: 50%;
}

#prefrontalNav {
    top: 58%;
    left: 36%;
}

#broccaNav {
    top: 58%;
    left: 45%;
}

/* parietallobe */
#parietalNav {
    top: 50%;
    left: 50%;
}
#somatNav {
    top: 51%;
    left: 22%;
}
#angularNav {
    top: 70%;
    left: 78%;
}

/* temporal lobe */
#temporalNav {
    top: 50%;
    left: 50%;
}
#superiorTempNav {
    top: 44%;
    left: 46%;
}

#tempPoleNav {
    top: 68%;
    left: 16%;
}

/* occipital lobe */
#occipitalNav {
    top: 50%;
    left: 50%;
}
#vOneNav {
    top: 68%;
    left: 64.5%;
}

#vTwoNav {
    top: 65.5%;
    left: 60.5%;
}

/*///////////////////////// Homepage specific code  /////////////////////////*/

#atlasDiv {
    height: 50vmin;
    width: 100vmin;;
    position: relative;
}

#mainBrain {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#atlas {
    position: absolute;
    top: 76%;
    left: 56%;
    transform: translate(-50%, -50%);
}

#exploreMsg {
    position: absolute;
    top: 70%;
    left: 65%;
}

#mainBrain:hover{
    filter: brightness(80%);
}

/*///////////////////////// Major Brain specific code /////////////////////////*/

#majorBrainRegionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#majorBrainRegionDiv > a {
    transform: scale(.8)
}

#majorBrainRegionDiv > a:hover {
    filter: brightness(80%);
}

#majorBrainHoverText {
    height: 10vmin;
    font-size: 10vmin;
}

/*///////////////////////// Admin portal specific code /////////////////////////*/
#adminLoginBox {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adminLoginBox > input, button {
    margin-top: .5vmin;
}

#adminTitle {
    font-size: 4vmin;
}

#adminReviewArea {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminPanel {
    height: 5vmin;
    width: 70vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#adminPanel > *{
    font-size: 2.5vmin;
}

#findButton {
    width: 8vmin;
}

#regionPrompts {
    height: 3vmin;
}

#adminWorkArea {
    height: 75vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#adminInspector {
    height: 70vmin;
    width: 110vmin;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoWrapper {
    font-weight: bold;
    width: 100vmin;
    height: 60vmin;
    background-color: rgb(232, 255, 231);
    border: 2vmin solid rgb(232, 255, 231);
    overflow-x: scroll;
}

#infoWrapper > span {
    font-weight: normal;
    overflow-y: scroll;
}

#adminObjectList {
    height: 70vmin;
    width: 50vmin;
    border: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminObjectList > div {
    width: 38vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border: 1vmin solid lightgray;
    margin-top: 2vmin;
    overflow-y: hidden;
}

#adminObjectList > div:hover {
    filter: brightness(80%);
}

#adminControls {
    display: flex;
    justify-content: space-around;
    width: 50vmin;
    height: 4vmin;
}

#adminApproval{
    color: green;
    background-color: rgb(235, 244, 246);
    height: 4vmin;
    width: 16vmin;
}

#adminDelete{
    color: darkred;
    background-color: rgb(235, 244, 246);
    height: 4vmin;
    width: 16vmin;
}

/* ////////////////////////// */

#exploreMsg.hidden,
#adminLoginBox.hidden,
#adminReviewArea.hidden,
#submitArticleBox.hidden,
#articleSubmit.hidden,
#thankYou.hidden {
    display: none;
}

