body {
    background-color: #F9E6B5;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

header {
    height: 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Information Page specific code */

#majorBrainRegionTitle {
    font-size: 8vmin;
}

#structureTitle {
    font-size: 4vmin;
}

#navAndInfo {
    margin: 1vmin;
    display: flex;
    justify-content: center;
    gap: 3vmin;
    width: 100vw;
    
}

#navagationBrainBox {
    height: 50vh;
    width: 30vw;
    min-width: 70vmin;
    border: 2px solid black;
}

#navagationBrain {
    position: relative;
}

#navagationBrain>img:hover {
    filter: brightness(80%);
}
#navagationBrain>a:hover {
    filter: brightness(80%);
}


#informationBox {
    height: 50vh;
    width: 30vw;
    overflow-y: scroll;
    font-weight: bold;
}

#informationBox > img {
    height: 25vw;
    width: 25vw;
}

#informationBox > span, #informationBox > a {
    font-weight: 400;
}

#relatedArticlesBox {
    width: 61vw;
    height: 20vh;
    display: grid;
    border-left: 1px solid black;
    border-right: 1px solid black;
    grid-template-columns: repeat(2, 30vw );
    justify-items: center;
    gap: 1vw;
    overflow-y: scroll;
}

#relatedArticlesBox > div {
    width: 28vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#initialSubmitArticleButton {
    display: flex;
    gap: 2vmin;
    align-items: center;
}

#submitArticleBox {
    height: 60vh;
    width: 50vw;
    background-color: lightgray;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#thankYou {
    align-self: center;
}

/* Homepage specific code  */

#atlasDiv {
    height: 70vh;
    width: 70vw;
    position: relative;
    background-color: #f5dea1;
}

#mainBrain {
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -20vmin;
    margin-left: -20vmin;

}

#atlas {
    position: absolute;
    width: 30vmin;
    height: 30vmin;
    top: 75%;
    left: 50%;
    margin-top: -10vmin;
    margin-left: -15vmin;
}

#exploreMsg {
    position: absolute;
    width: 40vmin;
    height: 20vmin;
    top: 75%;
    left: 55%;
}

#mainBrain:hover{
    filter: brightness(80%);
}

/* Major Brain specific code */

#majorBrainRegionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#majorBrainRegionDiv > a:hover {
    filter: brightness(80%);
}


/* Admin portal specific code */
#adminLoginBox {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adminLoginBox > input, button {
    margin-top: .5vmin;
}

#adminReviewArea {
    height: 90vh;
    width: 90vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#adminPanel {
    height: 5vmin;
    background-color: white;
    display: flex;
    align-items: center;
}

#regionPrompts {
    height: 5vmin;
    background-color: white;
}

#adminWorkArea {
    height: 80vh;
    width: 90vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#adminInspector {
    height: 70vh;
    width: 60vw;
    border: 1px solid black;
}

#adminObjectList {
    height: 70vh;
    width: 25vw;
    border: 1px solid black;
    overflow-y: scroll;
}

/* ////////////////////////// */

#exploreMsg.hidden,
#adminLoginBox.hidden,
#adminReviewArea.hidden,
#submitArticleBox.hidden,
#articleSubmit.hidden,
#thankYou.hidden {
    display: none;
}

